In [1]:
import numpy as np
import pandas as pd
import glob
import os
from tqdm.notebook import tqdm
tqdm.pandas()

In [4]:
stock_names = ['AAPL', 'AMT', 'AMZN', 'APRN', 'C', 'DIS', 'FB', 'GE', 'GOOGL', 'HTZ', 'LUV', 'MSFT', 'NFLX', 'SBUX', 'TSLA']
stocks_files_path = os.getcwd() + '/dataset/Stocks/'

In [5]:
def prepare_stocks_df(df, stock_name):
    df['stock'] = [stock_name for i in range(len(df))]
    return df

In [8]:
stocks_df_list = []
for stock_name in tqdm(stock_names):
    stocks_df_list.append(prepare_stocks_df(pd.read_csv(stocks_files_path + stock_name + '.csv'), stock_name))

stocks_df = pd.concat(stocks_df_list, axis = 0)
stocks_df.columns = ['_'.join(column.lower().split()) for column in stocks_df.columns]

  0%|          | 0/15 [00:00<?, ?it/s]

In [9]:
print(stocks_df.shape)
print(stocks_df.isna().sum())
display(stocks_df.head(10))

(3763, 8)
date         0
open         0
high         0
low          0
close        0
adj_close    0
volume       0
stock        0
dtype: int64

,date,open,high,low,close,adj_close,volume,stock
0,2019-07-15,204.089996,205.869995,204.000000,205.210007,202.789810,16947400,AAPL
1,2019-07-16,204.589996,206.110001,203.500000,204.500000,202.088181,16866800,AAPL
2,2019-07-17,204.050003,205.089996,203.270004,203.350006,200.951736,14107500,AAPL
3,2019-07-18,204.000000,205.880005,203.699997,205.660004,203.234497,18582200,AAPL
4,2019-07-19,205.789993,206.500000,202.360001,202.589996,200.200699,20929300,AAPL
5,2019-07-22,203.649994,207.229996,203.610001,207.220001,204.776108,22277900,AAPL
6,2019-07-23,208.460007,208.910004,207.289993,208.839996,206.376984,18355200,AAPL
7,2019-07-24,207.669998,209.149994,207.169998,208.669998,206.209015,14991600,AAPL
8,2019-07-25,208.889999,209.240005,206.729996,207.020004,204.578476,13909600,AAPL
9,2019-07-26,207.479996,209.729996,207.139999,207.740005,205.289978,17618900,AAPL

In [11]:
stocks_df['date'] = pd.to_datetime(stocks_df['date'])
stocks_df.dtypes

date         datetime64[ns]
open                float64
high                float64
low                 float64
close               float64
adj_close           float64
volume                int64
stock                object
dtype: object

In [ ]:
stocks_df.to_csv('./dataset/Stocks/stocks.csv', index = False)